//
// breadcrumb.scss
//

// Breadcrumb item arrow
.breadcrumb-item {
  > a {
    color: var(--#{$prefix}body-color);
  }
  + .breadcrumb-item {
    &::before {
      font-family: var(--font-materialdesignicons);
      font-size: 15px;
      line-height: 20px;
    }
  }
}
